body {
    font-family: 'Inter', sans-serif!important;
    font-weight: normal;
    font-style: normal;
}

.app-tile-col {
    height: 230px;
}


.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }

.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
.video-btn.btn-link{
  text-decoration: none;
  padding-left: 0px;
}
